*
	font-family: 'Roboto-Regular'
	src: url('../fonts/Roboto-Regular.ttf')
=active
	cursore: pointer
=btn_hover
	&:hover
		background-image: none
		background-color: $var3
		+active
@import "variables"
@import "general"
@import "media"